body {
    background-color: black;
    color: #E8DDB4;
    padding-left: 30%;
    padding-right: 30%;
    font-family: "Chewy";
    font-size: 2rem;
    text-align: center;
}

h2 {
    color: #DDA464;
}

.profile {
    text-align: center;
}

.profile img {
    width: 300px;
    height: 300px;
}

#academics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}
